@page
@model KRWebDesign.Pages.Games.DetailsModel

@{
    Layout = "~/Pages/Shared/_RenosStyle.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>

    <div>
        <h4>PlayerData</h4>

    </div>
    <section class="card">
        <div class="card--content"></div>
        <div class="card--content">></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
        <div class="card--content"></div>
    </section>
    <div>
        <a asp-page="./Index">Back to Games</a>
    </div>
</body>
</html>
