@page
@model IndexModel
@{
    ViewData["Title"] = "KR";
}
<div class="kensCenter">
    <h1 class="text-center header">Welcome to KRWebDesign</h1>
</div>
<br />
<h2>@Model.UserId</h2>
<div class="row kensBody">
    <div class="LeftSideBar col-sm-3">
        <ol>
            <li>Planning a business website?</li>
            <li>Do you have the best design ever?</li>
            <li>Do you need someone that will finish the job?</li>
            <li>Planning a business website?</li>
        </ol>
        <img src="~/images/me.png" />
        <p>The road to success starts with you.</p>
    </div>
    <div class="buildingImage">

    </div>
    <div class="rightSideBar col-sm-3">
        <ol>
            <li>Planning a business website?</li>
            <li>Do you have the best design ever?</li>
            <li>Do you need someone that will finish the job?</li>
            <li>Planning a business website?</li>
        </ol>
        <img src="~/images/me.png" />
        <p>The road to success starts with you.</p>
    </div>
</div>


<div class="row kensCenter bottomDiv">
    <h2>Click the Links and find out more things that you could have on your vary own site!</h2>
    <div class="col-md-3 card">
        <ul>
            <li>Sample Business Page Layout</li>
            <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
        </ul>
    </div>
    <div class="col-md-3 card">
        <h2>Overview</h2>
        <p>Add a banner for Reno's Smoked Meats here and some cool text about how awesome the smoked meats taste</p>
    </div>
    <div class="col-md-3">
        <h2>Custamizable website</h2>
        <p>Lets add a paragraph here about making your own customizable website</p>
        <ul>
            <li>Save your favorites for easy viewing later</li>
            <li>Add a Rating to your site for easy searching</li>
        </ul>
    </div>
</div>

<div class="learnaboutken">
    <p class="">
        Learn more about ken
        <a class="btn btn-primary" href="https://www.lostmindsstudio.com/kfrportfolio.htm">
            Here.
        </a>
    </p>
</div>
<br />

