@page
@model KRWebDesign.Pages.SmokedMeats.EditModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Edit</title>
</head>
<body>

<h4>Products</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="BeefObject.ID" />
            <div class="form-group">
                <label asp-for="BeefObject.Price" class="control-label"></label>
                <input asp-for="BeefObject.Price" class="form-control" />
                <span asp-validation-for="BeefObject.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BeefObject.Flavor" class="control-label"></label>
                <input asp-for="BeefObject.Flavor" class="form-control" />
                <span asp-validation-for="BeefObject.Flavor" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
